@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 3px;
}
body {
  background-color: #050505;
  color: #cacaca;
  font-family: Rubik;
  font-size: 24px;
}
.parent {
  display: flex;
  justify-content: center;
}
.main {
  width: 400px;
  max-width: 100%;
  min-height: 100vh;
  max-height: fit-content;
  background-color: #101010;
  position: relative;
}
:link {
  color: #5090bb;
}
:visited {
  color: #5090bb;
}
.option {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  text-transform: lowercase;
  width: fit-content;
  border-left: solid 3px #252525;
  padding: 5px 0 5px 8px;
  transition: 0.1s;
  margin: 0 0 0 2px;
  text-decoration: none;
}
.option:hover {
  border-left: solid 5px #303030;
}
a {
  text-decoration: none;
}
.content {
  font-size: 18px;
  text-align: justify;
}
embed {
  width: 100%;
  height: 50px;
}
.class {
  transform: scale(1.03);
  background-color: #181818;
  padding: 10px;
  width: 100%;
  border: solid 5px #101010;
}
.pfp {
  width: 72px;
  height: 72px;
  display: flex;
  gap: 10px;
  align-items: end;
  color: #999;
  font-size: 32px;
}
.name {
  letter-spacing: 1px;
}
.profile a {
  color: #dedede;
}
/* .marquee {
  width: 100%;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 5s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
} */
